<div class="wrapper">
  <div class="col radio">
    <mat-radio-button color="primary" class="example-margin" value="after">IZISPIK tutor</mat-radio-button>
    <mat-radio-button color="primary" class="example-margin" value="before">Professor </mat-radio-button>
  </div>
  <div class="col">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput placeholder="Name" value="Kolianich">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="col">
    <button mat-raised-button color="primary">Some button</button>
  </div>
</div>